:root {
  width: 100vw;
  height: 100vh;
}

body, #root {
  /* This might be the issue of grids not working as they should, use fixed values and try again */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url("./assets/gen-img.png");
  background-size: cover;
}